.customSelect {
    position: relative;
    width: 200px;
  }
  
  .selectedOption {
    padding: 10px;
    border: 1px solid #117a65;
    border-radius: 5px;
    background-color: #d1e5d1;
    cursor: pointer;
    font-weight: bold;
    color: #117a65;
  
    &:hover {
      background-color: #d1e5d1;
    }
  }
  
  .optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #c7ccd1;
    border-radius: 5px;
    background-color: #d1e5d1;
    z-index: 1000;
  
    .option {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #66bb6a;
      }
    }
  }
  
  .filters {
    display: flex;
    gap: 20px;
  }
  