.customSelect {
    position: relative;
    width: 200px;
  }
  
  .selectedOption {
    padding: 10px;
    border: 1px solid #117a65;
    border-radius: 5px;
    background-color: #d1e5d1;
    cursor: pointer;
    font-weight: bold;
    color: #117a65;
  
    &:hover {
      background-color: #d1e5d1;
    }
  }
  
  .optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px; // 👈 ограничение по высоте
    overflow-y: auto;  // 👈 добавляем вертикальный скролл
    border: 1px solid #c7ccd1;
    border-radius: 5px;
    background-color: #d1e5d1;
    z-index: 1000;
  
    .option {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #66bb6a;
      }
    }
  
    // (необязательно) стили для скроллбара
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #66bb6a;
      border-radius: 3px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #b2d8b2;
    }
  }
  
  
  .filters {
    display: flex;
    gap: 20px;
  }
  