/* Контейнер для фильтров */

.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  gap: 20px; /* Отступы между селекторами */
}
.container {
  h1 {
    color: #4caf50;
  }
}
/* Стиль для селектора */
select {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #239b56;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

  /* Добавим эффекты при наведении */
  &:hover {
    border-color: #239b56;
  }

  /* Стиль для фокуса */
  &:focus {
    outline: none;
    border-color: #239b56;
  }
}

/* Блок с матчами */
.con {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 100px 0;
}
/* Стиль для каждого блока с матчем */
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 20px 80px;
}
/* Стиль для блока с деталями матча */
.matchDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Стиль для названия команды */
.teamName {
  font-weight: bold;
  color: #e8f5e9;
  text-decoration: none;
  width: 300px;
  text-align: center;
  /* Эффект наведения */
  &:hover {
    text-decoration: underline;
  }
}

/* Стиль для счета */
.score {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #FFEB3B;
}

/* Стиль для пенальти */
.penalty {
  margin-top: 10px;
  color: #d9534f;
}
.date {
  color: #e8f5e9;
}
.league {
  background: linear-gradient(135deg, #E2C1F0, #A39ED8); /* Пастельный сиреневый и светлый синий */
  color: #4A3D76; /* Темный фиолетовый для текста */
}
.regular {
  background: linear-gradient(135deg, #A1C6FF, #7A9EC4); /* Мягкий голубой и приглушенный синий */
  color: #2A3D7A; /* Темно-синий для текста */
}
.tournament {
  background: linear-gradient(135deg, #A1D6A3, #8BCF75); /* Светлый мятный и свежий травяной зеленый */
  color: #3B5E3B; /* Темный зелёный для текста */
}
.englandCup {
  background: linear-gradient(135deg, #0D47A1, #64B5F6); /* Темно-синий и светлый голубой */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.spainCup {
  background: linear-gradient(135deg, #D9534F, #F1C232); /* Светлый желтый и мягкий красный (сходство с флагом Испании) */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.portugalCup {
  background: linear-gradient(135deg, #F5D300, #A1C73E); /* Немного приглушенный желтый и зелёный (сдержанный флаг Португалии) */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.italyCup {
  background: linear-gradient(135deg, #11998E, #38EF7D); /* Глубокий зелёный и лаймово-зелёный */
  color: #FFFFFF; /* Белый текст */
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.germanyCup {
  background: linear-gradient(135deg, #212121, #FFEB3B); /* Темный угольный и желтый */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.brazilCup {
  background: linear-gradient(135deg, #56AB2F, #A8E063); /* Яркий зеленый и светло-зеленый */
  color: #FFFFFF; /* Белый текст */
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.europeCup {
  background: linear-gradient(135deg, #0033A0, #FCD116); /* Синий и желтый (флаг ЕС) */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.turkeyCup {
  background: linear-gradient(135deg, #8B0000, #6B1E3B, #FF6347); /* Темный красный, бордовый и томатный */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.russiaCup {
  background: linear-gradient(135deg, #3B82F6, #1E40AF, #D0E7F9); /* Насыщенный синий, глубокий синий и светлый голубой */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.usaCup {
  background: linear-gradient(135deg, #FF4B2B, #9C1D52, #0D47A1); /* Яркий красный, пурпурный и насыщенный синий */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.netherlandCup {
  background: linear-gradient(135deg, #4DB6AC, #81C784); /* Приглушенный бирюзовый и светло-зеленый */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.asiaCup {
  background: linear-gradient(135deg, #6C71C4, #A3B8FF, #4682B4); /* Лазурно-фиолетовый, светлый голубой и синий */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.franceCup {
  background: linear-gradient(135deg, #7A4E9F, #C88CE5, #5A2D8C); /* Пурпурный, фиолетовый и темно-розовый */
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cup {
  background: linear-gradient(135deg, #ffdf00, #ffd700, #ffae00, #ffdf00);
  background-size: 300% 300%;
  animation: championGlow 7s ease infinite;
  border: 8px solid #ffe700;
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8), 0 0 10px #ffe700,
    0 0 20px #ffdf00;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.7), 0 0 30px rgba(255, 215, 0, 0.5);
  border-radius: 8px;
}
@keyframes championGlow {
  0% {
    background-position: 0% 50%;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.7), 0 0 30px rgba(255, 215, 0, 0.5);
  }
  50% {
    background-position: 100% 50%;
    box-shadow: 0 0 30px rgba(255, 215, 0, 1), 0 0 60px rgba(255, 215, 0, 0.8);
  }
  100% {
    background-position: 0% 50%;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.7), 0 0 30px rgba(255, 215, 0, 0.5);
  }
}


.cupImage {
  width: 50px;
}
p {
  margin: 0;
}
@media screen and (max-width: 1100px) {
  .filters {
    flex-wrap: wrap;
  }
  .teamName {
    width: 200px;
  }
}
@media screen and (max-width: 700px) {
  .teamName {
    width: auto;
  }
  .block {
    padding: 20px 30px;
  }
  .matchDetails {
    gap: 20px;
  }
  .score {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .penalty {
    margin: 0;
  }
  .filters {
    margin: 20px 0;
  }
}
@media screen and (max-width: 520px) {
  .container {
    padding: 0 ;
    h1 {
      margin: 0;
      font-size: 26px;
    }
  }
  .teamName {
    font-size: 14px;
  }
  .score {
    font-size: 14px;
  }
  .filters {
    padding-left: 0;
    justify-content: center;
  }
  .con {
    margin: 40px 0;
  }
  .cupImage{
    width: 30px;
  }
}
