.tableWrapper {
  overflow-x: auto; /* Включаем горизонтальный скролл на всех устройствах */
  -webkit-overflow-scrolling: touch; /* Для плавности на мобильных устройствах */
  width: 100%; /* Контейнер должен занимать всю ширину */
  display: block; /* Включаем блочное отображение */
  white-space: nowrap; /* Запрещаем перенос строк в таблице */
}

.tableContainer {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #66bb6a;
  border-radius: 15px 15px 0 0;
  color: #e8f5e9;
  padding: 10px 20px;
}
.subtitle {
  font-family: "Rubik Mono One", serif;
  text-align: center;
  width: 60px;
  margin: 0;
}

.point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4caf50;
  border-left: 1px solid #4caf50;
  border-right: 1px solid #4caf50;
  padding: 0 20px;
  padding: 20px;
  background-color: #dff5d8;
  &:hover {
    background-color: #1B5E20;
    transition: 0.2s;
  }

  &:nth-child(even) {
    background-color: #e8f5e9;
  }
}

.point:nth-last-child(1) {
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
  width: 200px;
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: bold;
  color: #e8f5e9;
}


.place {
  font-size: 18px;
  color: #117a65;
  font-weight: bolder;
}
.placeName {
  color: #117a65;
  word-break: break-word; // Разбивает длинные слова
  white-space: normal; // Позволяет перенос строк
  max-width: 100px; // Ограничь ширину, чтобы избежать слишком длинных строк
  text-align: left;
}
.pointText {
  width: 60px;
  text-align: center;
  margin: 0;
  color: #212121;
}
.pointText:nth-child(6) {
  color: #117a65;
  font-weight: bold;
  font-size: 18px;
}

.conTitle {
  text-align: center;
  font-size: 2rem;
  color: #117a65;
  padding: 20px 0;
}

.subtitleCon {
  font-size: 1.5rem;
  color: #117a65;
  margin: 0;
  margin-top: 30px;
}
.historyCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.pointScore {
  // background-color: #1B5E20;
  padding: 10px;
  color: #FFEB3B;
  font-weight: normal;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.matchBlock {
  width: 700px;
  padding: 20px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-color: #66bb6a;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.matchName {
  font-size: 22px;
  font-weight: bold;
  width: 200px;
  color: #e8f5e9;
  word-break: break-word; // Разбивает длинные слова
  white-space: normal; // Позволяет перенос строк
  max-width: 100px; // Ограничь ширину, чтобы избежать слишком длинных строк
}
.tableWrapper {
  width: 100%;
  overflow-x: auto; /* Горизонтальная прокрутка, если контент не помещается */
  // margin-bottom: 20px; /* Немного отступа внизу */
}
.tableWrapper::-webkit-scrollbar {
  display: none; /* Скрывает скроллбар в Webkit-браузерах (например, Chrome, Safari) */
}
.scrollContainer {
  display: inline-block;
  min-width: 100%;
  white-space: nowrap;
}

.title,
.point {
  // display: inline-block;
  padding: 10px;
  text-align: center;
}
.stage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.stageName {
  color: #66bb6a;
}
.date{
  color: #e8f5e9;
}

@media (max-width: 768px) {
  .matchName {
    width: 150px;
    font-size: 18px;
  }
  .matchBlock {
    width: 500px;
    gap: 20px;
  }
  .tableWrapper {
    overflow-x: auto; /* Горизонтальный скролл только на экранах до 768px */
  }
  .title {
    border-radius: 0;
  }
  .tableContainer {
    padding: 20px 0;
  }
  .point:nth-last-child(1) {
    border-radius: 0;
  }

  .point {
    padding: 10px;
  }

  .name {
    width: 150px;

    gap: 10px;
  }

  table {
    font-size: 0.9rem;
  }

  th,
  td {
    padding: 10px;
  }
}
@media screen and (max-width: 550px) {
  .pointText {
    width: 40px;
  }
  .subtitle {
    width: 40px;
  }
  .matchBlock {
    width: 300px;
    padding: 15px;
    gap: 10px;
  }
  .pointScore {
    padding: 0;
    font-size: 14px;
  }
  .matchName {
    width: 80px;
    font-size: 14px;
  }
}
