.sortContainer {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
  }
  .container{
    padding: 50px 50px;
  }
  button {
    padding: 10px 20px;
    border: 1px solid #4caf50;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
  color: #4caf50;
    &:hover {
      background-color: #e0e0e0;
    }
  }
  .title{
    color: #4caf50;
    margin: 40px 0;

  }
  .gridContainer {
    display: grid;
    gap: 10px;
  }
  
  .gridHeader {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: #239B56;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  .rowItem:nth-child(1){
    font-weight: bold;
    color: #4caf50;
  }
  .gridRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center; 
    align-items: center;
    padding: 10px;
    border: 1px solid #239B56;
    border-radius: 5px;
    background-color: #f9f9f9;
  
    &:nth-child(odd) {
      background-color: #e0e0e0;
    }
  }
  @media screen and (max-width:990px) {
    .sortContainer{
        flex-wrap: wrap;
        margin: 30px 0;
    }
  }
  @media screen and (max-width:520px) {
    .title{
        margin: 0;
    }
    .container{
        padding: 30px 20px;
    }
    .sortContainer{
        justify-content: center;
    }
  }