.container{
    background-color: #239B56;
    padding: 50px 20px;
    height: 100vh;
    color: #faed26;
}
.flagContainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
    background-color: #faed26;
    padding: 10px;
    border-radius: 10px;
}
.flagIcon{
    width: 100px;
}
.blockTitle{
    color: #faed26;
}
.title{
    color: #faed26;
    margin: 0;
}
.data{
    font-weight: bold;
}
.matchDetails{
 gap: 50px;
 align-items: center;
    display: flex;
}
.match{
    display: flex;
    justify-content: center;
}
.teamIcon{
    width: 100px;
}
.name{
    font-weight: 600;
}
.score{
    font-weight: bolder;
    font-size: 24px;
}
.seasonBlock{
    margin-bottom: 20px;
}
@media screen and (max-width:770px) {
    .flagIcon{
        width: 50px;
    }
    .teamIcon{
        width: 50px;
    }
}
@media screen and (max-width:520px) {
    .container{
        padding: 20px;
    }
    .flagContainer{
        flex-wrap: wrap;
    }
    .score{
        font-size: 14px;
    }
    .matchDetails{
        gap: 10px;
    }
    .name{
        font-size: 16px;
    }
    .team{
        width: 100px;
    }
    .data{
        margin-bottom: 10px;
    }
    
}