.container {
  font-family: "PT Mono", serif;
  background: linear-gradient(135deg, #b60014, #282828);
}
.block {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  background-size: cover;
}
.title {
  text-align: center;
  color: #faed26;
  font-size: 60px;
  padding: 20px 0 60px 0;
  margin: 0;
}
.linkCon {
  background: linear-gradient(0deg, #37474f, #263238 60%);
  border-radius: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 120px;
  text-decoration: none;
  padding: 0px 50px;
  gap: 20px;
}
.link {
  color: #faed26;
  font-size: 24px;
  text-transform: uppercase;
}

.teamIcon {
  width: 80px; /* Ширина эмблемы */
  height: 80px; /* Высота эмблемы */
  object-fit: contain; /* Масштабирование без обрезки */
}
.matchCount {
  font-size: 32px;
  color: #faed26;
}
