.container {
  margin: 0 auto;
  padding: 50px 100px;
  font-family: "PT Mono", serif;
  background: #c8e6c9;
  display: flex;
  flex-direction: column;
  gap: 50px;
  
}
.block {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  background-size: cover;
}
.search{
  padding: 10px;
  outline: none;
  color: #117a65;
  border-radius: 5px;
  border: 1px solid #117a65;
  font-family: "PT Mono", serif;
  background-color: #d1e5d1;
  &::placeholder {
    color: #117a65;
  }
}
.sortCon{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.title {
  text-align: center;
  color: #117a65;
  font-size: 60px;
  padding: 0;
  margin: 0;
}
.linkCon {
  // background: linear-gradient(0deg, #37474f, #263238 60%);
  background: linear-gradient(0deg, #66bb6a, #263238 60%);
  // background: linear-gradient(0deg, #263238, #66bb6a 60%);
  border-radius: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 120px;
  text-decoration: none;
  padding: 0px 50px;
  gap: 20px;
}
.link {
  color: #faed26;
  font-size: 24px;
  text-transform: uppercase;
}

.teamIcon {
  width: 80px; /* Ширина эмблемы */
  height: 80px; /* Высота эмблемы */
  object-fit: contain; /* Масштабирование без обрезки */
}
.matchCount {
  font-size: 32px;
  color: #faed26;
}
.blockInfo{
  color: #117a65;
  
    font-weight: bolder;
  
}
.optionsList {
  max-height: 200px; // можно подправить под себя
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .title {
    font-size: 50px;
  }
  .linkCon {
    padding: 0 30px;
    height: 80px;
  }
  .teamIcon {
    width: 50px;
    height: 50px;
  }
  .link {
    font-size: 18px;
  }
  .matchCount {
    font-size: 26px;
  }
  .container{
    padding: 50px;
  }
}
@media screen and (max-width: 780px) {
  .title {
    font-size: 35px;
  }
  .teamIcon {
    width: 40px;
    height: 40px;
  }
  .linkCon {
    padding: 0 15px;
    gap: 10px;
  }
  .block {
    gap: 30px;
    padding: 0 40px;
    justify-content: space-between;
  }
  .link {
    display: none;
  }
  .sortCon{
    gap: 20px;
    // padding: 0 40px;
  }
  .container{
    gap: 20px;
    padding: 20px;
  }
}
@media screen and (max-width: 520px) {
  .title {
    font-size: 30px;
  }
  .teamIcon {
    width: 50px;
    height: 50px;
  }
  .linkCon {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }
  .block {
    gap: 10px;
    padding: 0;
  }
}
